DEBUG=True

DATABASE__HOST=localhost
DATABASE__PORT=6600
DATABASE__DATABASE=navi_v2
DATABASE__USER=navi_backend_app
DATABASE__PASSWORD=navi_backend_app_password

# 로컬 데몬 경유
OLLAMA__HOST=http://localhost:11434
OLLAMA__MODEL=gpt-oss:120b-cloud

# Cloud 직접 접속
# OLLAMA__HOST=https://ollama.com
# OLLAMA__MODEL=gpt-oss:120b
# OLLAMA__API_KEY=                # https://ollama.com/settings/keys
